* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  position: relative;
  margin: auto;
  width: 100%;
}

section h6 {
  display: none;
}

body {
  padding: 0;
  margin: 0;
  position: relative;
}

.background-img {
  background-image: url("background.svg");
  background-size: 100vh 100vh;
  background-position: center;
  background-repeat: no-repeat;
}

.title-logo {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 10%;
}

.title-logo h2 {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin: 0;
  font-size: 400%;
  line-height: 90%;
}

.body-overflow {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.nav-hor {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.nav-hor .logo {
  padding-left: 6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Montserrat", sans-serif;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  text-transform: uppercase;
  white-space: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-hor ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  list-style-type: none;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  margin-right: 6%;
}

.nav-hor ul li {
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.nav-hor ul li i {
  padding-right: 5px;
}

.nav-hor ul li .red>i svg path {
  fill: yellow;
}

.nav-hor ul li a {
  padding: 6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  white-space: nowrap;
}

.nav-hor ul li a span {
  display: none;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.justify-c-c {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

main {
  margin-top: 70px;
}

.main-content {
  width: 100%;
  height: calc(100vh - 70px);
}

.fill-hight {
  height: 100%;
}

.flex-middle {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    max-width: 1024px;
  }

  .title-logo {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    text-align: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }

  .title-logo h2 {
    margin: 0;
    font-size: 800%;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    padding: 0;
    margin: 0;
  }

  .title-logo h2 {
    margin: 0;
    font-size: 1200%;
  }

  .dark-red {
    color: rgba(47, 47, 47, 0.733);
    background-color: #272727;
  }

  .dark-red a {
    color: rgba(158, 158, 158, 0.733);
    background-color: #272727;
    text-decoration: none;
  }

  .shop-now {
    padding: 2%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-transform: uppercase;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    white-space: nowrap;
    font-size: 200%;
  }

  .shop-now a {
    max-width: 100vw;
    max-height: 100vh;
    background-color: yellow;
    padding: 4%;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 30%;
    border-color: yellow;
    border-style: solid;
    border-width: 1px;
    text-decoration: none;
    color: #d35266;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }

  .shop-now a:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    text-decoration: underline;
    -webkit-text-decoration-color: #888;
    text-decoration-color: #888;
  }

  .red {
    background-color: #d35266;
    color: white;
  }

  .nav-hor ul {
    margin-right: 1%;
  }

  .nav-hor ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .nav-hor ul li .red {
    background-color: #d35266;
    color: white;
    border-radius: 5px;
    border: #d35266 1px solid;
  }

  .nav-hor ul li .red>i svg path {
    fill: white;
  }

  .nav-hor ul li a span {
    display: inline-block;
  }

  .container {
    max-width: 1024px;
  }
}
