$breakpoint-desktop: 1024px;
$breakpoint-tablet: 768px;
$font-mont: 'Montserrat',
sans-serif;
$font-rob: 'Roboto',
sans-serif;
$c-red: #D35266;
$c-gray: #888;
$c-black: #383838;
$available-screen: calc(100vh - 70px);

* {
  box-sizing: border-box;
}

.container {
  position: relative;
  margin: auto;
  width: 100%;
}

body {
  padding: 0;
  margin: 0;
  position: relative;

}

.title-logo {
  font-family: $font-mont;
  text-transform: uppercase;
  text-align: center;
  width: fit-content;
  margin-bottom: 10%;

  h2 {
    transition: all 2s;
    margin: 0;
    font-size: 400%;
    line-height: 90%;
  }
}

.body-overflow {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.nav-hor {
  height: 70px;
  display: flex;
  justify-content: space-between;

  .logo {
    padding-left: 6%;
    display: flex;
    font-family: $font-mont;
    width: fit-content;
    text-align: center;
    flex-direction: row;
    text-transform: uppercase;
    white-space: nowrap;
    align-items: center;
  }

  ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-family: $font-mont;
    padding: 0;
    width: fit-content;
    text-align: center;
    margin-right: 6%;

    li {
      padding: 0 10px;
      display: flex;
      width: fit-content;

      .red {
        i {
          svg {
            path {
              fill: yellow;
            }
          }
        }
      }

      i {
        padding-right: 5px;
      }

      a {
        padding: 6%;
        display: flex;
        text-transform: uppercase;
        align-items: center;
        white-space: nowrap;

        span {
          display: none;
        }
      }
    }
  }
}

.red {
  background-color: $c-red;
  color: white;
  background-image: url("/background.svg");
  background-size: 100vh 100vh;
  background-position: center;
  background-repeat: no-repeat;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.justify-c-c {
  justify-content: center;
}

.dark-red {
  color: rgba(47, 47, 47, 0.733);
  background-color: rgb(39, 39, 39);

  a {
    color: rgba(158, 158, 158, 0.733);
    background-color: rgb(39, 39, 39);
    text-decoration: none;
  }
}

main {
  margin-top: 70px;
}

.main-content {
  width: 100%;
  height: $available-screen;
}

.fill-hight {
  height: 100%;
}

.shop-now {
  padding: 2%;
  display: flex;
  text-transform: uppercase;
  align-items: center;
  white-space: nowrap;
  font-size: 200%;

  a {
    background-color: yellow;
    padding: 4%;
    width: fit-content;
    border-radius: 30%;
    border-color: yellow;
    border-style: solid;
    border-width: 1px;
    text-decoration: none;
    color: $c-red;
    font-weight: bold;
    font-family: $font-mont;
    transition: all 2s;
  }
  a:hover{
    transform: scale(1.5);
    text-decoration: underline;
    text-decoration-color: $c-gray;
  }
}

.flex-middle {
  justify-content: center;
  display: flex;
  align-content: center
}

@media only screen and (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop - 1px) {
  .container {
    max-width: $breakpoint-desktop;
  }

  .title-logo {
    font-family: $font-mont;
    text-transform: uppercase;
    text-align: center;
    width: fit-content;

    h2 {
      margin: 0;
      font-size: 800%;
    }
  }
}

@media only screen and (min-width: $breakpoint-desktop) {
  body {
    padding: 0;
    margin: 0;
  }

  .title-logo {
    h2 {
      margin: 0;
      font-size: 1200%;
    }
  }

  .nav-hor {
    ul {

      margin-right: 1%;

      li {

        .red {
          background-color: $c-red;
          color: white;

          i {
            svg {
              path {
                fill: white;
              }
            }
          }
        }

        a {
          span {
            display: inline-block;
          }
        }

        display: flex;
      }
    }
  }

  .container {
    max-width: $breakpoint-desktop;
  }
}
