@import "index.scss";
$grid-spacing: 0.1%;

body {
  background-color: rgb(230, 230, 230);
}

article {
  background-color: white;
}

a {
  &:hover {
    cursor: pointer;
  }
}

.main-content {
  overflow: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}


[class^="col-"] {
  float: left;
  margin-right: $grid-spacing;
  box-sizing: border-box;

  &:last-child {
    margin-right: 0%;
  }
}

%clearfix:after {
  display: block;
  clear: both;
  content: '';
}

.flex-box {
  display: flex !important;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.row {
  @extend %clearfix;

  &+& {
    margin-top: $grid-spacing;
  }
}

.col-1 {
  width: (100% / 12) - ($grid-spacing * 11 / 12);
}

.col-2 {
  width: (100% / 6) - ($grid-spacing * 10 / 12);
}

.col-3 {
  width: (100% / 4) - ($grid-spacing * 9 / 12);
}

.col-4 {
  width: (100% / 3) - ($grid-spacing * 8 / 12);
}

.col-5 {
  width: (100% / 2.4) - ($grid-spacing * 7 / 12);
}

.col-6 {
  width: (100% / 2) - ($grid-spacing * 6 / 12);
}

.col-7 {
  width: (100% / 1.714285714285714) - ($grid-spacing * 5 / 12);
}

.col-8 {
  width: (100% / 1.5) - ($grid-spacing * 4 / 12);
}

.col-9 {
  width: (100% / 1.333333333333333) - ($grid-spacing * 3 / 12);
}

.col-10 {
  width: (100% / 1.2) - ($grid-spacing * 2 / 12);
}

.col-11 {
  width: (100% / 1.090909090909091) - ($grid-spacing * 1 / 12);
}

.col-12 {
  width: 100%;
}

.b-white {
  background-color: white;
}

.product-search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10% 0;

  input {
    margin: 1%;
    height: 40px;
    font-size: 120%;
    padding-left: 1%;
    color: $c-black;
    border-radius: 5px;
    border-width: 1px;
    transition: all 2s;
  }

  select {
    transition: all 2s;
    height: 40px;
    margin: 1%;
    background-color: white;
    font-size: 120%;
    border-radius: 5px;
    border-width: 1px;
    color: $c-black;

    option {
      color: $c-black;
    }
  }

  button {
    transition: all 2s;
    margin: 1%;
    height: 40px;
    width: fit-content;
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    font-family: $font-mont;
    border-radius: 5px;
    color: $c-red;
    background-color: $c-black;
    border-color: rgba(255, 255, 0, 0.527);

    svg {
      height: 100%;
      width: 100%;
      min-width: 24px;
      min-height: 24px;

      path {
        fill: $c-red;
      }
    }
  }
}

.line {
  border: $c-gray solid 1px;
  background-color: white;
  margin-right: 10%;
  margin-top: 1%;
}

.add-title {
  background-color: white;
  padding: 1%;
  padding-left: 10%;
  font-family: $font-mont;
  text-transform: uppercase;
}

.add-img {
  padding: 2%;
}

.add-desc {

  padding: 2% 10%;

  font-family: $font-rob;
  color: $c-black;
  display: flex;
  flex-direction: column;

  h2 {
    padding: 0 4%;
    margin: 0;
    font-size: 250%;
  }

  span {
    padding: 0 4%;
    margin: 0;
    font-size: 100%;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
    text-align: justify;
  }

  a {
    padding: 0 4%;
    margin: 0;
  }

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;

    span {
      word-break: keep-all;
      white-space: nowrap;
      font-weight: bold;
    }

    .add-cart {
      svg {
        width: 24px;
        height: 24px;

        path {
          fill: $c-red;
          width: 24px;
          height: 24px;
        }
      }
    }

  }
}

.product {
  flex-direction: column;
  overflow: hidden;
  padding: 1%;
  border-color: rgba(128, 128, 128, 0.596);
  border-width: 2px;
  border-style: outset;
  margin: 1%;

  &>:first-child {
    display: block;
    a {
      picture {
        position: relative;
        overflow: hidden;
        display: block;

        img {
          height: auto;
          width: 100%;
        }
      }
    }
  }

}

@media only screen and (min-width: $breakpoint-tablet) {

  .flex-box-m {
    display: flex !important;
  }

  .product-search {
    flex-direction: row;
  }

  .product-search {

    input {
      width: 200px;
    }

    button {
      width: fit-content;
    }
  }

  .col-m-1 {
    width: (100% / 12) - ($grid-spacing * 11 / 12);
  }

  .col-m-2 {
    width: (100% / 6) - ($grid-spacing * 10 / 12);
  }

  .col-m-3 {
    width: (100% / 4) - ($grid-spacing * 9 / 12);
  }

  .col-m-4 {
    width: (100% / 3) - ($grid-spacing * 8 / 12);
  }

  .col-m-5 {
    width: (100% / 2.4) - ($grid-spacing * 7 / 12);
  }

  .col-m-6 {
    width: (100% / 2) - ($grid-spacing * 6 / 12);
  }

  .col-m-7 {
    width: (100% / 1.714285714285714) - ($grid-spacing * 5 / 12);
  }

  .col-m-8 {
    width: (100% / 1.5) - ($grid-spacing * 4 / 12);
  }

  .col-m-9 {
    width: (100% / 1.333333333333333) - ($grid-spacing * 3 / 12);
  }

  .col-m-10 {
    width: (100% / 1.2) - ($grid-spacing * 2 / 12);
  }

  .col-m-11 {
    width: (100% / 1.090909090909091) - ($grid-spacing * 1 / 12);
  }

  .col-m-12 {
    width: 100%;
  }
}

@media only screen and (min-width: $breakpoint-desktop) {
  .product-search {
    flex-direction: row;
  }

  .col-l-1 {
    width: (100% / 12) - ($grid-spacing * 11 / 12);
  }

  .col-l-2 {
    width: (100% / 6) - ($grid-spacing * 10 / 12);
  }

  .col-l-3 {
    width: (100% / 4) - ($grid-spacing * 9 / 12);
  }

  .col-l-4 {
    width: (100% / 3) - ($grid-spacing * 8 / 12);
  }

  .col-l-5 {
    width: (100% / 2.4) - ($grid-spacing * 7 / 12);
  }

  .col-l-6 {
    width: (100% / 2) - ($grid-spacing * 6 / 12);
  }

  .col-l-7 {
    width: (100% / 1.714285714285714) - ($grid-spacing * 5 / 12);
  }

  .col-l-8 {
    width: (100% / 1.5) - ($grid-spacing * 4 / 12);
  }

  .col-l-9 {
    width: (100% / 1.333333333333333) - ($grid-spacing * 3 / 12);
  }

  .col-l-10 {
    width: (100% / 1.2) - ($grid-spacing * 2 / 12);
  }

  .col-l-11 {
    width: (100% / 1.090909090909091) - ($grid-spacing * 1 / 12);
  }

  .col-l-12 {
    width: 100%;
  }
}